{% extends "base.html" %}

{%block pagetitle%}Tags{%endblock%}
{%block maintitle%}Liste des tags et de leur contenu{%endblock%}

{%block content%}
	<table>
		<thead>
			<tr>
				<th>Nom du tag</th>
				<th>Date</th>
				<th>Composants</th>
			</tr>
		</thead>
		<tbody>
			{% for tag in tag_list %}
				<tr>
					<td>{{tag.name}}</td>
					<td>{{tag.snapshot_date}}</td>
					<td>
						{% for ctv in tag.versions.all %}
							{{ctv.component_type.name}};
						{%endfor%}
					</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{%endblock%}
