{% extends "base.html" %}
{%block pagetitle%}Livraisons{%endblock%}
{%block maintitle%}Liste des livraisons{%endblock%}
{%block content%}
	<table>
		<thead>
			<tr>
				<th class='table_title_cell'>N°</th>
				<th class='table_title_cell'>Nom</th>
				<th class='table_title_cell'>Date de réception</th>
				<th class='table_title_cell'>Annule et remplace ?</th>
				<th class='table_title_cell'>Composant installé</th>
			</tr>
		</thead>
		<tbody>
			{% for is in del_list %}
				<tr class='groupe_table_1'>
					<td>{{is.pk}}</td>
					<td>{{is.name}}</td>
					<td>{{is.set_date|date:"d M Y H:i"}}</td>
					<td>{{is.is_full}}</td>
					<td>.</td>
				</tr>	
				{% for ctv in is.acts_on.all %}
					<tr>	<td>.</td><td>.</td><td>.</td><td>.</td>
						<td>{{ctv}}</td>
					</tr>
				{%endfor%}
			{% endfor %}
		</tbody>
	</table>
{%endblock%}
