## Core dependencies
django>=1.8,<1.9
pyparsing==2.0.2
unicodecsv==0.9.4
django-crispy-forms-ng

## Cloud provider dependencies (can be removed if not used, no harm if left present but unused)
azure

## Following libraries are not used in normal operations, the are just present for debugging in case of problem.
ipython
django_debug_toolbar