## Core dependencies
django>=3.2.15,<3.3
pyparsing==2.4.7
unicodecsv==0.14.1 # todo: remove.
django-crispy-forms>=1.11.0,<2

## For hosting with Apache under Linux, not actually used in MAGE code.
uwsgi>=2.0.19; sys.platform != 'win32'

## Client (libmage) dependencies
requests>=2.26.0,<3

## Cloud provider dependencies (can be removed if not used, no harm if left present but unused)
azure-storage==0.20.0

## Following libraries are not used in normal operations, they are just present for debugging in case of problem.
ipython
django_debug_toolbar>=3.1.0,<4

# IDE linting, language server helpers & co. Not needed by MAGE itself.
pylint
pylint-django
snooty-lextudio
debugpy
sphinx
sphinx-autobuild
rstcheck
