--find-links wheelhouse


## Core dependencies
django>=1.10,<1.11
pyparsing==2.0.2
unicodecsv==0.9.4
django-crispy-forms-ng

## Client (libmage) dependencies
requests==2.7

## Cloud provider dependencies (can be removed if not used, no harm if left present but unused)
azure-storage==0.20.0

## Following libraries are not used in normal operations, the are just present for debugging in case of problem.
ipython
django_debug_toolbar
