<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link media="all" type="text/css" href="/mediamage/pres/mage1.css" rel="stylesheet"/>
		<title>{%block pagetitle%}titre générique{%endblock pagetitle%}</title>
		{%block scripts%}{%endblock%}
	</head>
	<body>
		<h1 class='t1'>{%block maintitle%}{%endblock%}</h1>
		<div id='content'>{%block content%}{%endblock content%}</div>
		<div id='footer'>{%block footer%}MAGE 3.0.4 - le {%now "d/m/Y à H:i"%}{%endblock footer%}</div>
	</body>
</html>