{% extends "base.html" %}
{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Portail Gestion des Environnements{% endblock %}
{% block content %}
	{% regroup pages|dictsort:"appli" by appli as sorted_list %}
	{% for group in sorted_list %}
		<div class='bloc2'>		
			{% for page in group.list|dictsort:"name" %}
				<div>{{page.doc}}<a class='inline_link_button' href="{{page.url}}">⇒</a></div>				
			{% endfor %}
		</div>
	{%endfor%}
	<div class='bloc2'>Console d'administration<a class='inline_link_button' href='{% url admin-site "" %}'>⇒</a></div>	
{%endblock content%}