{% extends "base.html" %}
{% load staticfiles %}
{% load filter %}
{% block pagetitle %}Edition ACL{% endblock %}
{% block maintitle %}{{ folder | folder_crumbs }} : Permissions{% endblock %}

{% block scripts %}
    <script type="text/javascript" src='{% static "jquery-1.11.2.min.js" %}'></script>
    <script type="text/javascript">
        $.postJSON = function (url, data, callback, errorcallback) {
            return jQuery.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                'type': 'POST',
                'url': url,
                'data': JSON.stringify(data),
                'dataType': 'json',
                'success': callback,
                'error': errorcallback
            });
        };

        $(function () {
                    var acl = {{ acl | safe }};
                    var perms = {{ perms | safe }};
                    var groups = {{ groups | safe }};

                    var grlist = $("#groups");
                    $.each(acl, function (key, value) {
                        grlist.append($("<option value='" + key + "'>" + key + "</option>"));
                    });

                    var acelist = $("#ace");
                    $.each(perms, function (value) {
                        acelist.append($("<div><input id='" + this[0] + "' type='checkbox' value='" + this[0] + "'> <label for='" + this[0] + "'> " + this[1] + "</label></div>"));
                    });

                    var newgrouplist = $("#grouplist");
                    $.each(groups, function (key, value) {
                        newgrouplist.append($("<option value='" + key + "'>" + value + "</option>"));
                    });

                    grlist.change(function () {
                        $("#aclcol input").prop("disabled", false);
                        var group_name = grlist.val();
                        $("#aclcol input[type='checkbox']").prop("checked", false);
                        $.each(acl[group_name], function () {
                            $("input[value=" + this + "]").prop("checked", true);
                        });
                    });

                    $("div#ace").on("change", "input[type='checkbox']", function () {
                        var group_name = grlist.val();
                        var aces = acl[group_name];
                        var perm = $(this).val();
                        if (!$(this).prop("checked")) {
                            aces.splice(aces.indexOf(perm), 1);
                        }
                        else {
                            aces.push(perm);
                        }
                    });

                    $("input#blockinherit").change(function () {
                        ace['_block'] = $(this).prop("checked");
                    });

                    $("input#remove").click(function () {
                        var group_name = grlist.val();
                        $("option[value='" + group_name + "']").remove();
                        delete acl[group_name];
                        $("#aclcol input").prop("disabled", true);
                    });

                    $("button#add").click(function () {
                        var group_name = groups[newgrouplist.val()];
                        if (grlist.find("option[value='" + group_name + "']").size() != 0) {
                            return;
                        }
                        acl[group_name] = ['read_folder', 'list_envt', 'list_folders', 'read_envt']
                        grlist.append($("<option value='" + group_name + "'>" + group_name + "</option>"));
                        grlist.val(group_name).trigger('change');

                    });

                    $("button#save").click(function () {
                        $.postJSON("{% url 'ref:set_acl' folder_id=folder.id %}", acl, function (data) {
                        }, null);
                    });

                    $("#aclcol input").prop("disabled", true);
                    acl['_block'] = {{ folder.block_inheritance | lower }};
                    $("input#blockinherit").prop('checked', acl['_block']);
                }
        );
    </script>
{% endblock %}

{% block content %}
    <div id="form" class="row metContainer">
        <div id="aclcol" class="col-md-8">
            <div style='color: white;' class='row'>
                <div class='t2 col-md-12' style='color: black;'>ACL des groupes</div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    Créer une ACl pour le groupe
                    <select id="grouplist"></select>
                    <button type="button" id="add" class="cancel">Créer</button>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <select id="groups" size="10" style="min-width: 15em;"></select>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <input type="button" class="cancel" id="remove" value="Supprimer le groupe sélectionné">
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div id="ace"></div>
                </div>
            </div>


        </div>

        <div class="col-md-4">
            <div style='color: white;' class='row'>
                <div class='t2 col-md-12' style='color: black;'>Général</div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div>
                        <input id='blockinherit' type='checkbox' value='false'>
                        <label for='blockinherit'>Bloquer l'héritage des dossiers parent</label>
                    </div>
                    <button type="button" id="save">Enregistrer</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}