{% extends "base.html" %}
{% load filter %}
{% block pagetitle %}{{envt.name}}{% endblock %}
{% block maintitle %}Environnement {{envt.name}}{% endblock %}

{% block frequentActionsButtons %}{% if perms.ref.scm_addenvironment %}<a href="{% url 'ref:envt_duplicate' envt.name %}" title="Dupliquer l'environnement">D</a>{% endif %}{% endblock %}

{%block navigationButtons%}
<a href="{% url 'ref:envts' %}" title="Liste des environnements">↑</a>
{%endblock%}

{% block content %}
{% regroup envt.component_instances.all by model_id as compotype_list %}

<div style='width:auto;'>
	<div class='column' style="min-width: 0px; max-width: 230px;">
		<div class='t2'>Généralités</div>
		<div class="metContainer metFreeRect defaultHighlightBackground">
			<table>
				<tr><td>Nom de code</td><td>: {{envt.name}}</td></tr>
				<tr><td>Responsable</td><td>: {{envt.manager}}</td></tr>
				<tr><td>Référencé le</td><td>: {{envt.buildDate}}</td></tr>
				<tr><td>Sera détruit le</td><td>: {{envt.destructionDate}}</td></tr>
				<tr><td>Catégorie</td><td>: {{envt.typology.name}}</td></tr>
		</table>	
		</div><br/><br/>
		<a  href="{% url 'scm:envtinstallhist' envt.name %}">Historique des installations</a><br/>
		<a href="{% url 'scm:backup_list' %}">Sauvegardes</a><br/>
		<a href="{% url 'scm:tag_list' %}">Tags</a><br/>
	</div>
	
	<div class='column' style='max-width:650px; min-width:300px; width=auto;'>
		<div class='t2'>Composants</div>	
		{% for compotype in compotype_list %}
			{% cycle '#004A00' '#61292B' '#180052' '#AD103C' '#004D60' '#1B58B8' '#DE4AAD' as moderncolors silent %}
			{% for compo in compotype.list %}
				{% if not compo.deleted %}
				<div class="metContainer metFreeRect metDefaultBackground">
					<table>
						
						{% if compo.instanciates %}
							<tr><td colspan='2' style='background-color:#B3B3B3; text-transform: uppercase;text-align: center; max-width: 9em; font-size: 8pt;'>{{compo.instanciates.implements.application.name}} - {{compo.instanciates.implements.name}}</td></tr>
						{% endif %}
						<tr><td colspan="2" style='font-style: italic;text-align: center;background-color:#B3B3B3; '>
						{{ compo.leaf | verbose_name | capfirst }}
						</td></tr>
						
						{% if compo.leaf.detail_template %}
							{% include compo.leaf.detail_template  with compo=compo.leaf %}
						{% else %}
							{% if compo.name %}
								<tr><td>Nom </td><td>{{compo.name}}</td></tr>
							{% else %}
								<tr><td>Nom </td><td>no name specified</td></tr>
							{% endif %}
						{% endif %}
					</table>	
				</div>
				{% endif%}
			{% endfor %}
		{% endfor %}
	</div>
	
	
	<div class='column' style='width=auto;'>
		<div class='t2'>Représentation</div>
		<img src="{% url 'gph:envt' envt.id %}" alt="environment picture"> 
	</div>
</div>
{% endblock content %}

