{% extends "base.html" %}
{% load filter %}
{% load staticfiles %}
{% block pagetitle %}Composant mutualisés{% endblock %}
{% block maintitle %}Composant mutualisés{% endblock %}



{% block content %}
{% regroup cis by description as compotype_list %}

<div class='row'>

<div class='col-md-12' style="margin: 5px 5px 0px 5px;">
    {% for compotype in compotype_list %}
        <div class='t4' >{{compotype.grouper.description}}</div>
        <div class='table-responsive' style =" border-radius: 10px 10px 0 0;">
            <table class='table table-condensed table-bordered table-hover dt'>
                {% comment %} Table Header {% endcomment %}
	            <thead   style ="background-color: #4d0000 ; color: rgba(201,195,195,1);">
                    <tr>
                        <th>Nom</th>
                        <th>Environnements</th>
                        {% for field in compotype.grouper.field_set.all %}
                            <th>{{field.short_label|capfirst}}</th>
                        {% endfor %}
                        
                        {% for field in compotype.grouper.computed_field_set.all %}
                            <th>{{field.short_label|capfirst}}</th>
                        {% endfor %}
                    
                        {% if perms.ref.change_component_instance %}<th></th>{% endif %}
                    </tr>
	           </thead>

	           {% comment %} Data rows {% endcomment %}
                <tbody>
                {% for compo in compotype.list %}                
                   <tr>
                       <td>{{compo.name}}</td>
                       <td>{{compo.environments_str}}</td>
                
                       {% for field, value in compo.description.field_set.all|project_ci_fields:compo.field_set.all %}
                           <td>{{value | urlify}}</td>
                       {% endfor %}
                       
                       {% for field in compo.description.computed_field_set.all %}
                           <td>{{compo | apply_field_template:field | urlify}}</td>
                       {% endfor %}
                        
                       {% if perms.ref.change_component_instance %}<td style="width: 30px;"><a href='{%url "ref:edit_ci" compo.pk %}'><i class="fa fa-edit" ></i></a></td>{% endif %}
                   </tr>
                {% endfor %}
                </tbody>
	       </table>
        </div>
    {% endfor %}
   
    {% if perms.ref.change_component_instance %}
    <div>
        <div class='t4'>Composants supprimés</div>
            <div class='table-responsive'>
            <table class='table table-condensed table-bordered table-hover'>
                <tr><th>ID</th><th>Type</th><th></th></tr>
                {% for ci in deleted %}                  
                    <tr><td>{{ci.id}}</td><td>{{ci.description.description}}</td><td><a href='{%url "ref:edit_ci" ci.id %}'>éditer</a></td></tr>
                {% endfor %}
            </table>
        </div>
    </div>
    {% endif %}
</div>

</div> 
{% endblock content %}
