{% extends "base.html" %}
{% block pagetitle %}Types{% endblock %}
{% block maintitle %}Types installés{% endblock %}

{% block content %}
{% regroup models by tag as tag_list %}


{% for tag in tag_list %}
	<div class='column' style='width:auto; max-width:1000000px; '>
		<div class='t2'>{% if tag.grouper %}{{ tag.grouper | capfirst }}{% else %}non classé{% endif %}</div>
		{% for model in tag.list|dictsort:"name" %}
			<div class='metRect' style='background:#004A00;'>
				{{ model.description }}
				<div class='metSquareLong annotation'>
					Code {{model.name}}<br/>
					Id {{model.id}}
				</div>
			</div>
		{% endfor %}
	</div>
{% endfor %}
</div>
{% endblock content %}
