{% extends "base.html" %}
{% block pagetitle %}Types{% endblock %}
{% block maintitle %}Types installés{% endblock %}

{% block content %}

{% regroup res by tag as models_by_tag_list %}
<div style="width: 100%">
<table class='metContainer visibleTable'>
	<thead>
		<tr style='text-align: left; padding: 30px;'>
			<th></th>
			<th>Champ</th>
			<th>Description</th>
			<th>Aide</th>
			<th>Défaut/norme nommage</th>
			<th>Obligatoire</th>
			<th>Cardinalité</th>
			<th>Type</th>
			<th>Sensible</th>
		</tr>
	</thead>
	{% for tag_models in models_by_tag_list %}	
		<tr><td colspan="9" class='t3 metFormSection'>{%if tag_models.grouper %}{{tag_models.grouper}}{%else%}non classé{%endif%}</td></tr>
		{% for model in tag_models.list %} 
			<tr>
				<td style='padding: 10px;' rowspan='{{model.field_count|add:"1"}}'>
					<a id='{{model.name}}' style='text-decoration: none;'>{{model.name}}</a>
					<div class='annotation'>{{model.description}}</div>
				</td>
			</tr>
			
			{% for f in model.field_set.all %}
				<tr style="background-color: #E6F2FF;">
					<td>{{f.name}}</td>
					<td>{{f.label}}</td>
					<td>{{f.help_text}}</td>
					<td>{% if f.default %} {{f.default}} {% endif %}</td>
					<td>{{f.compulsory}}</td>
					<td>1</td>
					<td>{{f.datatype}}</td>
					<td>{{f.sensitive}}</td>
				</tr>
			{% endfor %}
						
			{% for f in model.target_set.all %}
				<tr style="background-color: #D1E3D1;">
					<td>{{f.name}}</td>
					<td>{{f.label}}</td>
					<td>{{f.help_text}}</td>
					<td>N/A</td>
					<td>{% if f.min_cardinality == 0 %}False{%else%}True{%endif%}</td>
					<td>{{f.min_cardinality}}..{{f.max_cardinality}}</td>
					<td>{{f.target.name}}</td>
					<td>{{f.sensitive}}</td>
				</tr>
			{% endfor %}
			
			{% for f in model.computed_field_set.all %}
				<tr style="background-color: #FFEBE0;">
					<td>{{f.name}}</td>
					<td>{{f.label}}</td>
					<td>{{f.help_text}}</td>
					<td>{{f.pattern}}</td>
					<td>N/A</td>
					<td>1</td>
					<td>(calculé)</td>
					<td>{{f.sensitive}}</td>
				</tr>
			{% endfor %}
		{% endfor %}
	{% endfor %}
</table>
</div>
{% endblock content %}
