{% extends "base.html" %}
{% block pagetitle %}Test MQL{% endblock %}
{% block maintitle %}Tester une requête MQL{% endblock %}

{% block content %}

<br>
<form action="{% url 'ref:mqltester' %}" method="post">
	
	<!--  {{ form.as_ul }}-->
	{{ form }}
	<input class="btn btn-success" type="submit" value="Submit" />
	{% if error %}
	<br><br>
		<div style ="width: 98%" class='formerror alert alert-warning '>{{error}}</div>
	{% endif %}
</form>

{% if not results %}
<div>
    <a href="http://mage.readthedocs.org/en/master/mql.html">Click here for the full MQL documentation.</a><br>
    <span>Quick examples:</span>
    <ul>
        <li>All component instances: SELECT INSTANCES</li>
        <li>All component instances inside a given environment: SELECT ENVIRONMENT 'DEV1' INSTANCES</li>
        <li>All component instances of a certain technical type: SELECT 'jbossas' INSTANCES</li>
        <li>All component instances of a certain fonctional type: SELECT LC 'web application EE6' 'jbossapplication' INSTANCES</li>
        <li>Only select a few fields, as well as fields from linked instances: SELECT name, jboss_host.name FROM 'jbossas' INSTANCES</li>
        <li>Filter (here on a linked component attribute): SELECT mage_id, name FROM 'jbossas' INSTANCES WHERE jboss_host.name='RWP100109'</li>
    </ul>
</div>
{%  endif %}






<div>
{% if results %}
	<div>Also see results as: <br>
		<a  class="btn btn-primary" href="{% url 'ref:mqlquery' 'json' mql %}">JSON </a>
		<a  class="btn btn-primary"  href="{% url 'ref:mqlquery' 'csv' mql %}">CSV (Excel) <i class="far fa-file-excel"></i></a>
	 	<a  class="btn btn-primary" href="{% url 'ref:mqlquery' 'sh' mql %}">sh script</a>
	 	<a class="btn btn-primary"  href="{% url 'ref:mqlquery' 'bash4' mql %}">bash 4 script</a>
	</div>

	{% regroup results|dictsort:'mage_description_name' by mage_description_name as model_list %}
        
    {% if not model_list %}
        {% comment %} For navigation queries - a dict without predictable structure is returned {% endcomment %}
       
       
    
       
      <!--   <table class='metContainer visibleTable '>-->
      <div class='table-responsive' style ="border-radius: 10px 10px 0 0; width: 100%">
		   <table class=' metContainer visibleTable ' style =" width: 95% ">
        {% for compo in results %}
            {% if forloop.first %}
                <thead   style ="background-color: #4d0000 ; color: rgba(201,195,195,1);" ><tr> 
                {% for key in compo.keys %}
                    <th>{{key}}</th>
                {%endfor%}
                </tr></thead>
            {% endif %}
                
            <tr>
            {% for val in compo.values %}
                <td>{{val}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
        </table>
        </div>
        
        
    {% endif %}
        
	{% for modeltype in model_list %}
        {% comment %} For queries without navigation - a dict with predictable structure is returned {% endcomment %}
		<div class='t2'>{{ modeltype.grouper }}</div>
		
		   <div class='table-responsive' style ="border-radius: 10px 10px 0 0; width: 100%">
        <!--   <table class='table table-condensed table-bordered table-hover dt'>-->
      
		   <table class=' metContainer visibleTable ' style =" width: 100% ">
		{% for compo in modeltype.list %}
		
			{% if forloop.first %}
				<thead style ="background-color: #4d0000 ; color: rgba(201,195,195,1);" ><tr> 
				{% for key in compo.keys %}
					<th>{{key}}</th>
				{%endfor%}
				</tr></thead>
			{% endif %}
				
			<tr>
			{% for val in compo.values %}
				<td>{{val}}</td>
			{% endfor %}
			</tr>
		{% endfor %}
		   </table>
        </div>
       
	{% endfor %}
{% endif %}

</div>



{% endblock content %}
