{% extends "base.html" %}
{% load get_item folder_crumbs from filter %}
{% load cache %}

{% block pagetitle %}Accueil{% endblock %}
{% block maintitle %}{{ project | folder_crumbs }}{% endblock %}

{%block navigationButtons%}
<a href='{% url "admin:index" %}' title="Administration">A</a>
{% endblock %}

{%block frequentActionsButtons%}
<a href='{% url "ref:set_acl" folder_id=project.id %}' title="Editer les habilitations">P</a>
{%  endblock %}

{% block content %}
{% cache 60 project_home_cache project.id %}
<div style='color: white;' class='row'>

{%  if project.subfolders.count > 0 %}
<div class='col-sm-2'>
    <div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Sous répertoires</div>
	</div>
    <div style='color: white;' class='row'>
        {%  for folder in project.subfolders.all %}
            <a class='metSquare homeCoulour2' href="{% url 'ref:project_home' folder.id %}">{{folder.name}}<div class='metSquareLong annotation'>{{folder.description}}</div></a>
        {% endfor %}
    </div>
</div>
{%  endif %}

<div class='col-sm-{%  if project.subfolders.count > 0 %}3{%  else %}5{% endif %}'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Les environnements</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare homeCoulour1' href="{% url 'ref:cartoform' %}">Carte interactive</a>
		<a class='metSquare homeCoulour1' href="{% url 'ref:grscope' project.pk %}">Carte complète du répertoire</a>
		<a class='metSquare homeCoulour1' href="{% url 'ref:new_item' %}">Créer un élément de référentiel</a>
        <a class='metSquare homeCoulour1' href="{% url 'ref:backuped' %}">Eléments sauvegardés</a>
        <a class='metSquare homeCoulour1' href="{% url 'ref:shared_ci' %}">Composants mutualisés</a>
		<div>
		{% for envt in envts %}
		<a class='metSquare' href="{% url 'ref:envt' envt.id %}">{{envt.name}}<div class='metSquareLong annotation'>{{envt.description}}</div></a>	
		{%endfor %}
		</div>
	</div>
</div>

<div class='col-sm-3'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Gestion de configuration</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare homeCoulour2' href="{% url 'scm:lc_installs_envts' %}">Synthèse des versions courantes</a>
		<a class='metSquare homeCoulour2' href="{% url 'scm:deliveries' %}">Livraisons disponibles à l'installation</a>
		<a class='metSquare homeCoulour2' href="{% url 'scm:delivery_create' %}">Référencer une livraison</a>
		<a class='metSquare homeCoulour2' href="{% url 'scm:tag_list' %}">Tags</a>
		<a class='metSquare homeCoulour2' href="{% url 'scm:backup_list' %}">Sauvegardes disponibles</a>
		<a class='metSquare homeCoulour2' href="{% url 'scm:lc_list' %}">Versions disponibles</a>
		<div>
		{% for envt in envts %}
			{% if envt.managed %}
				<a class='metSquare' href="{% url 'scm:envtinstallhist' envt.name %}">Historique {{envt.name}}<div class='metSquareLong annotation'>{{latest_setname|get_item:envt.name}}<br/>{{latest_date|get_item:envt.name|date:"d/m H:i"}}</div></a>
			{% endif %}	
		{%endfor %}
		</div>
	</div>
</div>
<div class='col-sm-2'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>{{team_links_title}}</div>
	</div>
	<div style='color: white;' class='row'>	
	{% for link in team_links %}
		<a class='metSquare homeCoulour1' href="{{ link.url }}">{{ link.legend|safe }}</a>
	{% endfor %}
	</div>
</div>
<div class='col-sm-2'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Aides scripting</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare homeCoulour2' href="{% url 'ref:types' %}">Types de composants installés</a>
		<a class='metSquare homeCoulour2' href="{% url 'ref:mqltester' %}">Requêteur MQL</a>
		<a class='metSquare homeCoulour2' href="{% url 'ref:types_details' %}">Détail des composants installés</a>
		<a class='metSquare homeCoulour2' href="{% url 'ref:urls' %}">API web partielle pour scripts</a>
		<a class='metSquare homeCoulour2' href="{% url 'ref:cartostructure' %}">Graphe des types de composants</a>
	</div>
	<div class='row'>
	{% for envt in templates %}
		<a class='metSquare' href="{% url 'ref:envt' envt.id %}">Template {{envt.name}}<div class='metSquareLong annotation'>{{envt.description}}</div></a>	
	{%endfor %}
	</div>
</div>
</div>
{% endcache %}
{% endblock content %}
