{% extends "base.html" %}
{% block pagetitle %}API web{% endblock %}
{% block maintitle %}URL utiles pour les scripts{% endblock %}


{% block content %}
Unless stated otherwise, use GET for all calls. MAGE is always case sensitive (both in URL and arguments).<br/>All CSV files are Excel-compatible.
<br/>
<br/>
Login (sets 'sessionid' in cookie): {% url 'script_login' "USERNAME" "PASSWORD" %}<br/>
Logout: {% url 'script_logout' %}<br/>
<br/>
MCL query (query only) - CSV file : {% url 'ref:mcl_query' "MCL_QUERY" %}<br/>
MCL get or create if not exists - CSV file : {% url 'ref:mcl_create_cv' "MCL_QUERY" %}<br/>
MCL get or create if not exists without applying conventions - CSV file : {% url 'ref:mcl_create_nocv' "MCL_QUERY" %}<br/>
<br/>
Duplicate environment : {% url 'ref:envt_duplicate' "ENVIRONMENT_NAME" %}<br/>
<br/>
Full PNG of all environments: {% url 'gph:full' %}<br/>
<br/>
Validate patchset: {% url 'scm:delivery_validate' 123456789 %}<br/>
Register new default backupset: {% url 'scm:backup_envt' "ENVIRONMENT_NAME" %}<br/>
Archive backupset: {% url 'scm:backup_archive' "123456789" %}<br/>
Unarchive backupset: {% url 'scm:backup_unarchive' "123456789" %}<br/>
<br/>
Get the ID (in a text file) of a delivery or backupset by name (0 if not found): {% url 'scm:iset_id' "SET_NAME" %}<br/>
Content (with IDs) of a delivery or backupset as a CSV: {% url 'scm:delivery_content_csv' "SET_NAME_OR_ID" %}<br/>
Fully apply a delivery to an environment: {% url 'scm:delivery_apply_envt' 123456789 "ENVT_NAME_OR_ID" %}<br/>
Test if prerequisites are respected for a whole installable set: {% url 'scm:delivery_prereqs_test_script' 123456789 "ENVT_NAME_OR_ID" %}<br/>
Test if prerequisites are respected for a single item (II_ID) inside a set, without applying the rest of the set: {% url 'scm:delivery_test_ii_single' 123456789 "ENVT_NAME" %}<br/>
Test if prerequisites are respected for a single item (II_ID) inside a set, considering the rest of the set will also be applied: {% url 'scm:delivery_test_ii_set' 123456789 "ENVT_NAME" %}<br/>
Apply only one item from a delivery to an environment component instance: {% url 'scm:delivery_apply_ii_single' 123456789 "ENVT_NAME" 123456789 %} (item_id, envt_name, instance_id)<br/>
<br/>
Get a KSH (probably BASH compatible) file describing a delivery with variables: {% url 'scm:delivery_content_shell' 123456789 %} (installable set ID)<br/>
(just source it in your scripts)<br/>
Get a KSH (probably BASH compatible) file putting an MCL result in variables: {% url 'ref:mcl_shell' "MCL_QUERY" %}<br/>
(just source it in your scripts)<br/>


{% endblock content %}

