{% extends "base.html" %}
{% block pagetitle %}API web{% endblock %}
{% block maintitle %}URLs utiles pour tous scripts{% endblock %}


{% block content %}
Unless stated otherwise, use GET for all calls. MAGE is always case sensitive (both in URL and arguments).<br/>All CSV files are Excel-compatible.
<br/>
<br/>
Login (sets 'sessionid' in cookie): {% url 'script_login' "USERNAME" "PASSWORD" %}<br/>
Logout: {% url 'script_logout' %}<br/>
<br/>
MQL query - results as a CSV file : {% url 'ref:mqlquery' "csv" "MQL_QUERY" %}<br/>
MQL query - results as a JSON file : {% url 'ref:mqlquery' "json" "MQL_QUERY" %}<br/>
MQL query - results as an SH script : {% url 'ref:mqlquery' "sh" "MQL_QUERY" %}<br/>
MQL query - results as a BASH4 script : {% url 'ref:mqlquery' "bash4" "MQL_QUERY" %}<br/>
<br/>
Duplicate environment : {% url 'ref:envt_duplicate' "ENVIRONMENT_NAME" %}<br/>
<br/>
Full PNG of all environments: {% url 'ref:grfull' %}<br/>
<br/>
Validate patchset: {% url 'scm:delivery_validate' 123456789 %}<br/>
Register new default backupset: {% url 'scm:backup_envt' "ENVIRONMENT_NAME" %}<br/>
Archive backupset: {% url 'scm:backup_archive' "123456789" %}<br/>
Unarchive backupset: {% url 'scm:backup_unarchive' "123456789" %}<br/>
<br/>
Get the ID (in a text file) of a delivery or backupset by name (0 if not found): {% url 'scm:iset_id' "SET_NAME" %}<br/>
Content (with IDs) of a delivery or backupset as a CSV: {% url 'scm:delivery_content_csv' "SET_NAME_OR_ID" %}<br/>
Fully apply a delivery to an environment: {% url 'scm:delivery_apply_envt' 123456789 "ENVT_NAME_OR_ID" %}<br/>
Test if prerequisites are respected for a whole installable set: {% url 'scm:delivery_prereqs_test_script' 123456789 "ENVT_NAME_OR_ID" %}<br/>
Test if prerequisites are respected for a single item (II_ID) inside a set, without applying the rest of the set: {% url 'scm:delivery_test_ii_single' 123456789 "ENVT_NAME" %}<br/>
Test if prerequisites are respected for a single item (II_ID) inside a set, considering the rest of the set will also be applied: {% url 'scm:delivery_test_ii_set' 123456789 "ENVT_NAME" %}<br/>
Apply only one item from a delivery to an environment component instance: {% url 'scm:delivery_apply_ii_single' 123456789 "ENVT_NAME" 123456789 %} (item_id, envt_name, instance_id)<br/>
<br/>


{% endblock content %}

