{% extends "base.html" %}
{% load static %}

{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Carte complète{% endblock %}
{% block scripts %}
<script type="text/javascript" src='{% static "d3.min.js" %}'></script>
<script type="text/javascript" src='{% static "dagre-d3.min.js" %}'></script>
<script type="text/javascript" src='{% static "jquery-1.11.2.min.js" %}'></script>
<script type="text/javascript">
function refresh_graph()
{
	
}

$(document).ready(function()
{
	$.ajax(
	{
		url : '{% url "ref:cartofulldata" "3" project %}',
		type : "GET",
		dataType : "json",
	}).done(function(json)
	{
		digraph = dagreD3.json.decode(json['nodes'], json['edges']);		
		var renderer = new dagreD3.Renderer();
		renderer.run(digraph, d3.select("svg g"));
	});
});
</script>
{% endblock scripts %}

{% block content %}

<svg width=5024 height=5024>
    <g transform="translate(20,20) scale(0.7)"/>
</svg>

{% endblock content %}
