{% extends "base.html" %}
{% block pagetitle %}Accueil{% endblock %}
{% block maintitle %}Accueil{% endblock %}
{% load get_item from filter %}
{% load cache %}

{%block navigationButtons%}
<a href='{% url "admin:index" %}' title="Administration">A</a>
{% endblock %}

{% block content %}
{% cache 30 welcome_all %}
<div style='color: white;' class='row'>
<div class='col-sm-5'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Les environnements</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare' style='background: #423173;' href="{% url 'ref:cartoform' %}">Carte interactive</a>
		<a class='metSquare' style='background: #423173;' href="{% url 'ref:grfull' %}">Carte générale</a>
		<a class='metSquare' style='background: #423173;' href="{% url 'ref:new_item' %}">Créer un élément de référentiel</a>
		<div>
		{% for envt in envts %}
		<a class='metSquare' href="{% url 'ref:envt' envt.id %}">{{envt.name}}<div class='metSquareLong annotation'>{{envt.description}}</div></a>	
		{%endfor %}
		</div>
	</div>
</div>
<div class='col-sm-3'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Gestion de configuration</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:lc_installs_envts' %}">Synthèse des versions courantes</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:deliveries' %}">Livraisons disponibles à l'installation</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:delivery_create' %}">Référencer une livraison</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:tag_list' %}">Tags</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:backup_list' %}">Sauvegardes disponibles</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'scm:lc_list' %}">Versions disponibles</a>
		<div>
		{% for envt in envts %}
			{% if envt.managed %}
				<a class='metSquare' href="{% url 'scm:envtinstallhistprm' envt.name 31 %}">Historique {{envt.name}}<div class='metSquareLong annotation'>{{latest|get_item:envt.name}}<br/>{{envt.latest_reconfiguration|date:"d/m H:i"}}</div></a>
			{% endif %}	
		{%endfor %}
		</div>
	</div>
</div>
<div class='col-sm-2'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>{{team_links_title}}</div>
	</div>
	<div style='color: white;' class='row'>	
	{% for link in team_links %}
		<a class='metSquare' style='background: #423173;' href="{{ link.url }}">{{ link.legend|safe }}</a>
	{% endfor %}
	</div>
</div>
<div class='col-sm-2'>
	<div style='color: white;' class='row'>
		<div class='t2' style='color: black;'>Aides scripting</div>
	</div>
	<div style='color: white;' class='row'>	
		<a class='metSquare' style='background: #004D60;' href="{% url 'ref:types' %}">Types de composants installés</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'ref:mqltester' %}">Requêteur MQL</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'ref:types_details' %}">Détail des composants installés</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'ref:urls' %}">API web partielle pour scripts</a>
		<a class='metSquare' style='background: #004D60;' href="{% url 'ref:cartostructure' %}">Graphe des types de composants</a>
	</div>
	<div class='row'>
	{% for envt in templates %}
		<a class='metSquare' href="{% url 'ref:envt' envt.id %}">Template {{envt.name}}<div class='metSquareLong annotation'>{{envt.description}}</div></a>	
	{%endfor %}
	</div>
</div>
</div>
{% endcache %}
{% endblock content %}
