@CHARSET "ISO-8859-1";

/* Defaults */
html {
	position: relative;
	min-height: 100%;
}

body {
	background-color: #F5F0F2;
}

body>.container-fluid {
	padding: 60px 15px 0;
}

.ifjs {
	display: none;
}

/* Titles */
.pageTitle {
	/*font-size: 18px;*/
	font-weight: bolder;
	letter-spacing: 0.02em;
	text-transform: uppercase;
}

.t2 {
	font-size: 14pt;
	letter-spacing: 0.02em;
	font-weight: 300;
	text-transform: uppercase;
}

.t3 {
	font-size: 12pt;
	letter-spacing: 0.02em;
	font-weight: 300;
	text-transform: uppercase;
}

.t4 {
	font-size: 10pt;
	letter-spacing: 0.02em;
	font-weight: 300;
	text-transform: uppercase;
}

/* Misc text */
.helptext {
	font-size: 8pt;
	font-style: italic;
}

.errorlist {
	color: red;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.bulletLessList,.bulletLessList li,.bulletLessList ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

.formerror {
	background-color: red;
}

.formerror select {
	background-color: inherit;
}

.annotation {
	font-style: italic;
	font-size: 7pt;
	vertical-align: bottom;
	text-align: right;
}

.smallContent {
	font-style: italic;
	font-size: 10pt;
}

.left {
	text-align: left;
}

/* tables */
.visibleTable {
	border-collapse: collapse;
	border: 1px solid black;
}

.visibleTable td {
	border: 1px solid black;
	padding: 0px;
}

.visibleTable thead td {
	font-weight: bold;
	font-size: 11pt;
	padding: 2px;
}

/* Modern components containers */
.metContainer {
	padding: 5px;
	vertical-align: top;
	/*border: solid 1px;*/
}

.metSection {
	display: block;
	height: auto;
	margin-bottom: 10px;
}

.metFreeRect {
	display: inline-block;
	margin-bottom: 6px;
	margin-right: 2px;
}

.metSquare {
	display: inline-block;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
	background-color: #2E8DEF;
	width: 100px;
}

.metRect {
	display: inline-block;
	width: 250px;
	height: 70px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
	color: white;
	background-color: #094AB2;
}

.metRectList {
	display: inline-block;
	width: 250px;
	height: 40px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
}

.metRectListSmall {
	display: inline-block;
	width: 130px;
	height: 20px;
	margin-right: 0px;
	margin-top: 3px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
	background-color: #004A00;
}

.metRectFixedwidth {
	display: inline-block;
	width: 250px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
	background-color: #004A00;
}

.metSquareLong {
	display: block;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 3px;
}

div.metRibbonSplash {
	display: block;
	position: fixed;
	left: 0px;
	background-color: #006AC1;
	padding-top: 1em;
	padding-bottom: 1em;
	width: 100%;
	top: 50%;
	height: 20em;
	margin-top: -11em;
}

div.metRibbonSplashContent {
	padding-left: 200px;
	padding-right: 200px;
	height: 100%;
}

.metFormSection {
	background-color: #D6D6D6;
}

.metLineHeader {
	background-color: #D6D6D6;
	color: default;
}

.metSubLineHeader {
	background-color: #BCBCBC;
	color: default;
}

.metDefaultColors {
	color: white;
	background-color: #094AB2;
}

/* Tables within modern containers */
div.metContainer table { /*width: 100%;*/
	border-collapse: collapse;
}

div.metContainer td {
	font-size: 13px;
	padding: 0px;
	padding-bottom: 1px;
	padding-right: 3px;
}

div.metContainer form td {
	padding-bottom: 5px;
}

div.metContainer th {
	font-weight: inherit;
	text-align: right;
	padding-right: 5px;
	font-size: smaller;
	vertical-align: top;
}

div.metSquare table {
	border-collapse: collapse;
}

div.metSquare td {
	font-size: 13px;
	padding: 0px;
	padding-bottom: 1px;
	padding-right: 3px;
}

div.metRibbonSplash table {
	margin-left: 50px;
	margin-top: 10px;
}

div.metRibbonSplash table input {
	width: 100%; /* IE10 fix */
}

/* Misc modern consequences */
.wideInputs input[type=text] {
	width: 70em;
}

div.metContainer select,div.metContainer span {
	margin-bottom: 0px;
	font-size: 8pt;
}

a {
	color: inherit;
	text-decoration: none;
}

a.metSquare:hover,a.metSquare:focus,a.metRectList:hover,a.metRectList:focus
	{
	color: #C0BCB8;
}

a.metSquare {
	text-decoration: inherit;
}

a.frequentAction,a.metRectList,a.metContainer {
	text-decoration: inherit;
}

.metContainer select[multiple] {
	width: 400px;
	/*overflow-x: scroll;*/
}

.metContainer input[type=button],.metContainer input[type=submit],.metContainer button,.metButton
	{
	border: none;
	background: none;
	background-color: #16499A;
	text-transform: uppercase;
	color: white;
	padding: 3px;
	font-weight: bold;
	font-size: 10pt;
}

button.cancel,input.cancel[type='button'] {
	background-color: #6E7E94;
}

.metRibbonSplash .right {
	margin-left: -200px;
	padding-right: 50px;
	float: right;
}

.metRibbonSplashContent .right {
	margin-top: 10px;
}

.metContainer form tbody {
	vertical-align: top;
}

.metDefaultBackground {
	background-color: #D6D6D6;
}

.metInMet {
	background-color: #B3B3B3;
}

.defaultHighlightBackground {
	background-color: #2E8DEF;
}

.metErrorBackground {
	background-color: #AD103C;
}

.metOkBackground {
	background-color: #004A00;
}

/* Menu & Toolbar */
.navbar {
	background-color: #094AB2;
	color: white;
}

#quickAccessButtons, #quickAccessButtons>span {
	height: 50px;
}

.navbar,.navbar-inverse a,.navbar-inverse .navbar-text,.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a 
{
	color: white;
	word-wrap: break-word;
	vertical-align: middle;
}

 .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse > div > .navbar-header > a.navbar-brand:hover, #quickAccessButtons > span > a:hover  {
	background-color: rgb(200,200,200);
}

#quickAccessButtons a {
	display: inline-block;
	padding: 3px;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	border: solid 1px white;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	text-decoration: inherit;
	font-size: 13pt;
	margin-top: 8px;
}

#quickAccessButtons a img {
	width: 20px;
	height: 20px;
}

#quickAccessActionButtons {
	padding-right: 10px;
}

/* ************* Graphs *************/
svg {
	overflow: hidden;
}

.node rect {
	stroke: #333;
	stroke-width: 1.5px;
	fill: #fff;
}

.edgeLabel rect {
	fill: #fff;
}

.edgePath {
	stroke: #333;
	stroke-width: 1.5px;
	fill: none;
}

/*********** Bootstrap tables **************/
.table-condensed>tbody>tr>td {
	padding-top: 1px;
	padding-bottom: 1px;
}