@CHARSET "ISO-8859-1";

/* Defaults */
html {
	height: 100%;
}

body {
	font-family: "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans",
		"Helvetica Neue", Arial, sans-serif;
	font-weight: 400; /* standard weight */
	background-color: #1F0068;
	color: white;
	margin: 0;
	height: 100%;
}

#content {
	margin-top: 10px;
}

/* Titles */
.pageTitle {
	display: inline-block;
	font-size: 20pt;
	font-weight: normal;
	letter-spacing: 0.01em;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
	font-size: 20pt;
}

.t2 {
	font-size: 16pt;
	letter-spacing: 0.02em;
	font-weight: 300;
	text-transform: uppercase;
}

.t3 {
	font-size: 12pt;
	letter-spacing: 0.02em;
	font-weight: 300;
	text-transform: uppercase;
}

/* Misc text */
.helptext {
	font-size: 8pt;
	font-style: italic;
}

ul.errorlist {
	color: red;
	list-style-type: none;
	padding:0px;
	margin:0px;
}

/* tables */
.visibleTable {
	border-collapse: collapse;
	border: 1px solid white;
}

.visibleTable td {
	border: 1px solid white;
}

/* Modern components containers */
.column {
	display: table-cell;
	padding-right: 20px;
	max-width: 330px;
}

.metContainer {
	padding: 5px;
	vertical-align: top;
}

.metSection {
	display: block;
	height: auto;
	margin-bottom: 10px;
}

.metFreeRect {
	display: inline-block;
	margin-bottom: 6px;
	margin-right: 2px;
}

.wideInputs {
	
}

.metSquare {
	display: inline-block;
	width: 150px;
	height: 150px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
}

.metRect {
	display: inline-block;
	width: 250px;
	height: 100px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
}

.metRectList {
	display: inline-block;
	width: 250px;
	height: 40px;
	margin-right: 1px;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 5px;
	vertical-align: top;
	position: relative;
}

.metSquareLong {
	display: block;
	font-style: italic;
	font-size: 10pt;
	vertical-align: bottom;
	text-align: right;
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: 5px;
	margin-right: 3px;
}

/* Tables within modern containers */
div.metContainer table {
	/*width: 100%;*/
	border-collapse: collapse;
}

div.metContainer td {
	font-size: 13px;
	padding: 0px;
	padding-bottom: 1px;
	padding-right: 3px;
}

div.metContainer th {
	font-weight: inherit;
	text-align: right;
	padding-right: 5px;
	font-size: smaller;
	vertical-align: top;
}

div.metSquare table {
	border-collapse: collapse;
}

div.metSquare td {
	font-size: 13px;
	padding: 0px;
	padding-bottom: 1px;
	padding-right: 3px;
}

/* Misc modern consequences */
.wideInputs input {
	width: 70em;
}

div.metContainer select {
	margin-bottom: 0px;
	font-size: 8pt;
}

a.metSquare,a.frequentAction,a.metRectList,a.metContainer {
	color: inherit;
	text-decoration: inherit;
}

.metContainer select[multiple] {
	width: 400px;
	/*overflow-x: scroll;*/
}

/* Toolbar */
#frequentActionsButtons {
	position: absolute;
	right: 5px;
	top: 6px;
}

.frequentAction {
	display: inline-block;
	padding: 3px;
	border-radius: 50%;
	height: 20px;
	width: 20px;
	border: solid 1px white;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
}

/* Footer */
#beforeFooter {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -35px; /* footer + title */
	padding-left: 15px;
	padding-right: 15px;
}

#pusher {
	height: 35px;
}

#footer {
	height: 30px;
	border-top: solid white 1px;
	padding-left: 5px;
}