<?xml version="1.0"?>
<configuration>
  <system.webServer>  
    <!--<staticContent>
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
    </staticContent>  -->
    <handlers>
      <clear />  
      <add name="Static Files1" path="*" verb="GET" modules="StaticFileModule" resourceType="File" requireAccess="Read"/>   
    </handlers>
  </system.webServer>
</configuration>