{% extends "base.html" %}
{% load staticfiles %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Livraisons disponibles à l'installation{% endblock %}

{%block frequentActionsButtons%}
<a class='frequentAction' href="{% url 'scm:delivery_create' %}" title="Créer une livraison">+</a>
{% endblock %}

{% block content %}

<div class='metContainer'>
<table>
	<thead>
		<tr>
			<th></th>
			{% for li in lis %}
				{% if li.versions.count != 0 %}
					<th><a style='height:40px;' class='metRectListSmall defaultHighlightBackground' href="{% url 'scm:lc_versions' li.id %}">{{li.application.name}} - {{li.name}}</a></th>
				{% endif %}
			{% endfor %}
			<th>Enregistré le</th>
			<th>V</th>
		  </tr>
	</thead>
	<tbody>
		{% for is in deliveries %}
			<tr>
				<td>
					<a class='defaultHighlightBackground metRectListSmall' href="{% url 'scm:delivery_detail' is.id %}">
						{{ is.name }}
					</a>
				</td>
			
				{% for li in lis %}
					{% if li.versions.count != 0 %}
						<td>
							{% for ii in is.set_content.all %}
								{% if li.id == ii.what_is_installed.logical_component_id %}
									<div class='metRectListSmall {% if ii.is_full %} metInMet {% else %} metDefaultBackground {% endif %}'>
										{{ ii.what_is_installed.version }}
									</div>
								{% endif %}
							{% endfor %}
						</td>
					{% endif %}
				{% endfor %}
				
				<td>{{ is.set_date|date:"d/m/Y" }}</td>
				<td>{% if is.status == 1 %} <img src='{% static "admin/img/icon-yes.gif" %}'></img>{% endif %}</td>
			</tr>
			
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock content %}
