{% extends "base.html" %}
{% load static %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Livraisons disponibles à l'installation{% endblock %}

{%block frequentActionsButtons%}
<a class='frequentAction' href="{% url 'scm:delivery_create' project.pk %}" title="Créer une livraison">+</a>
{% endblock %}

{% block content %}

<div>
<table class="dottedTable">
	<thead>
	   <tr style="vertical-align: top;">
	       <th style="border-style: none;"></th>
           {% for li in lis %}
	           {% if li.versions.count != 0 %}
	               <th style="max-width: 9em;">
                       <a href="{% url 'scm:lc_versions' project.pk li.id %}">{{li.application.name | capfirst }}<br/>{{li.name | capfirst}}</a>
                   </th>
	           {% endif %}
	       {% endfor %}
	       <th style="border-style: none;"></th>
           <th style="border-style: none;"></th>
	   </tr>
	</thead>
	<tbody>
		{% for is in deliveries %}
			<tr>
				<td>
					<a  href="{% url 'scm:delivery_detail' iset_id=is.id project_id=project.pk %}">
						{{ is.name }}
					</a>
				</td>
			
				{% for li in lis %}
					{% if li.versions.count != 0 %}
						<td>
							{% for ii in is.set_content.all %}
								{% if li.id == ii.what_is_installed.logical_component_id %}
									<div class='{% if ii.is_full %} metInMet {% else %} metDefaultBackground {% endif %}'>
										{{ ii.what_is_installed.version }}
									</div>
								{% endif %}
							{% endfor %}
						</td>
					{% endif %}
				{% endfor %}
				
				<td><div>{{ is.set_date|date:"d/m/Y" }}</div></td>
				<td style="border-style: none;"><div>{% if is.status == 1 %} <img src='{% static "admin/img/icon-yes.svg" %}'></img>{% endif %}</div></td>
			</tr>
			
		{% endfor %}
	</tbody>
</table>
</div>
{% endblock content %}
