{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Référencement d'un backup de {{envt.name}}{% endblock %}

{% block content %}

<form method="POST">
	<table>
		<tr>
			<td>Nom du backup</td><td>{{form.name}}<div class='annotation'>Vous pouvez laisser vide pour utiliser la norme de nommage</div></td>
		</tr>
		<tr>
			<td>Moment de la prise de backup</td><td>{{form.date}}<div class='annotation'>Cette date est notamment utile pour trouver la version des éléments sauvegardés</div></td>
		</tr>
		<tr>
			<td>Eléments inclus</td><td>{{form.instances}}</td>
		</tr>
	</table>
	
	<input type="submit" value="Enregistrer" class='metButton'/>
	<button class='metButton cancel' onclick="history.back();return false;">annuler</button>
</form>

{% endblock content %}
