{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Liste des sauvegardes {% if archive %}archivées{% endif %}{% endblock %}

{%block navigationButtons%}
{% if not archive %}
<a href="{% url 'scm:backup_list_archive' %}" title="Voir l'archive (backups non disponibles)">A</a>
{%else%}
<a href="{% url 'scm:backup_list' %}" title="Voir les backups disponibles">D</a>
{% endif %}
{%endblock%}

{% block content %}

{% regroup backups by from_envt as envt_list %}


{% for envt in envt_list %}
<div class='row'>
	<div class='col-md-1'>
		<div class='metRectFixedwidth metLineHeader'>{{envt.grouper.name}}</div>
	</div>
	<div class='col-md-11'>
		{% for bckset in envt.list %}
		<a class='metContainer metRectFixedwidth defaultHighlightBackground' href="{% url 'scm:backup_detail' bckset.id %}">
			{{bckset.set_date}}
			<div>
				<div class='annotation'>{{ bckset.item_count }} éléments sauvegardés</div>
			</div>
		</a>
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock content %}
