{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Livraison {{delivery.name}}{% endblock %}

{%block frequentActionsButtons%}
<a href="{% url 'scm:delivery_edit' delivery.id %}" title="Editer la liraison">E</a>
<a href="{% url 'scm:delivery_edit_dep' delivery.id %}" title="Editer les dépendances">D</a>
{% if delivery.status > 1 %}
	<a href="{% url 'scm:delivery_validate' delivery.id %}" title="Valider la livraison">V</a>
{% endif %}
<a href="{% url 'scm:delivery_content_csv' delivery.id %}" title="CSV du contenu">C</a>
{%endblock%}

{%block navigationButtons%}<a href="{% url 'scm:deliveries' %}" title="Liste des livraisons">↑</a>{%endblock%}

{% block content %}

<div class='metContainer metSection metDefaultBackground'>
	<table>
		<tr><td>Enregistrée le</td><td> : {{ delivery.set_date|date:"d/m/Y" }}</td></tr>
		<tr><td>Description courte</td><td> : {{delivery.description}}</td>	</tr>
		<tr><td>Tickets corrigés</td><td> : {{delivery.tickets}}</td></tr>
		<tr><td>Disponible</td><td> : {{delivery.available}}</td></tr>
		<tr><td>Statut</td><td> : {{delivery.get_status_display}}</td></tr>
		{% if perms.scm.download_ii and delivery.datafile %}
		<tr><td>Fichier de données</td><td> : <a href='{{delivery.datafile.url}}'>Télécharger</a></td></tr>
		{% endif %}
	</table>
</div>

{% for ii in delivery.set_content.all %}
	<div class='metContainer metFreeRect metDefaultBackground'>
		{% if perms.scm.download_ii and ii.datafile %}
		<a class='t3' href='{{ii.datafile.url}}'>[{{ii.what_is_installed.logical_component.application}} {{ ii.what_is_installed.logical_component.name }}] version [{{ ii.what_is_installed.version }}]</a><br/>
		{% else %}
		<div class='t3'>[{{ii.what_is_installed.logical_component.application}} {{ ii.what_is_installed.logical_component.name }}] version [{{ ii.what_is_installed.version }}]</div>
		{% endif %}

		<div class='metContainer smallContent'>
			{% for dep in ii.dependencies.all %}
				<div>Requiert version [{{dep.depends_on_version.logical_component.application}} {{dep.depends_on_version.logical_component.name}}] {{dep.operator}} [{{dep.depends_on_version.version}}]</div>
			{%endfor%}
		</div>
		
		{% for method in ii.how_to_install.all %}
			<div class='metContainer metFreeRect'>
				<div class='smallContent'>S'installe avec [{{ method.name }}]</div>
				{%comment%}{% for cic in method.method_compatible_with.all %}
					{% if cic.implements_id == ii.what_is_installed.logical_component_id %}
						<div class='smallContent'>Compatible avec {{ cic.name }} (via {{ method.name }})</div>
					{%endif%}
				{% endfor %}{% endcomment %}
			</div>
		{% endfor %} 
	</div>
{% endfor %}

<br/>
{% if delivery.available %}
	{% for envt in envts %}
		<a class='metRectList defaultHighlightBackground' href="{% url 'scm:delivery_prereqs_test' delivery.id envt.id %}">Peut-elle être installée sur {{envt.name}} ?</a>
	{% endfor %}
{% else %}
	<div class='metRectList metErrorBackground'>Livraison non disponible - non installable</div>
{% endif %}

{% endblock content %}
