{% extends "base.html" %}
{% load static %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Bon de livraison (1/2){% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "jquery-1.11.2.min.js" %}'></script>
<script type="text/javascript" src='{% static "delivery.js" %}'></script>
<script type="text/javascript">
	lc_im = {};
	{% for key, values in lc_im.items %}lc_im[{{key}}] = [{% for value in values%}{{value}},{%endfor%}];{% endfor %}
</script>
{% endblock %}

{% block content %}
<form id='mainForm' method='POST' enctype="multipart/form-data">

	<div id='main' class='metContainer metSection wideInputs metFormSection'>
		<label class='t2' for='main'>Informations de base</label>
		<table id='basics'>
			<tr {% if form.name.errors %} class='formerror'{%endif%}><td>{{form.name.label}} :</td><td>{{form.name}}</td></tr>
			{% if form.name.errors %}<tr><td></td><td>{{form.name.errors}}</td></tr>{%endif%}
			<tr {% if form.description.errors %} class='formerror'{%endif%}><td>{{form.description.label}} :</td><td>{{form.description}}</td></tr>
			{% if form.description.errors %}<tr><td></td><td>{{form.description.errors}}</td></tr>{%endif%}
			<tr {% if form.ticket_list.errors %} class='formerror'{%endif%}><td>{{form.ticket_list.label}} :</td><td>{{form.ticket_list}}</td></tr>
			{% if form.ticket_list.errors %}<tr><td></td><td>{{form.ticket_list.errors}}</td></tr>{%endif%}
			
			{% if display.d1 %}<tr><td>{{form.location_data_1.label}} :</td><td>{{form.location_data_1}}</td></tr>{% endif %}
			{% if display.d2 %}<tr><td>{{form.location_data_2.label}} :</td><td>{{form.location_data_2}}</td></tr>{% endif %}
			{% if display.d3 %}<tr><td>{{form.location_data_3.label}} :</td><td>{{form.location_data_3}}</td></tr>{% endif %}
			{% if display.d4 %}<tr><td>{{form.location_data_4.label}} :</td><td>{{form.location_data_4}}</td></tr>{% endif %}
			
			{% if display.globalfile %}<tr><td>{{form.datafile.label}} :</td><td><div>{{form.datafile}}</div></td></tr>{% endif %}

			{{form.project.as_hidden}}{% if form.project.errors %}<tr><td></td><td>Project: {{form.project.errors}}</td></tr>{%endif%}
			
			<tr id='tr_commonversion' style="display: none;"><td>Version commune des contenus livrés :</td><td><input id='commonversion' maxlength="30" type="text" style="width:50em;"/><input type='button' id='bt_percompo' value='Une version par composant'/></td></tr>
		</table>
	</div>
	
	{{ iisf.management_form }}
	<div id='iisf'>
		{% for fs in iisf %}
			<div class='metContainer metFreeRect metFormSection' style='position: relative;'>
				<label class='t3' for='main'>Contenu n°{{forloop.counter}} de la livraison</label>
				{{ fs.id }}
				<table>
					<tr {% if fs.target.errors %} class='formerror'{%endif%}><td>{{fs.target.label}} :</td><td>{{fs.target}}</td></tr>
					{% if fs.target.errors %}<tr><td></td><td>{{fs.target.errors}}</td></tr>{%endif%}
					<tr {% if fs.version.errors %} class='formerror'{%endif%}><td>{{fs.version.label}} :</td><td>{{fs.version}}</td></tr>
					{% if fs.version.errors %}<tr><td>Version :</td><td>{{fs.version.errors}}</td></tr>{%endif%}
					<tr {% if fs.how_to_install.errors %} class='formerror'{%endif%}><td>{{fs.how_to_install.label}} :</td><td>{{fs.how_to_install}}<div class='howto_label'></div></td></tr>
					{% if fs.how_to_install.errors %}<tr><td></td><td>{{fs.how_to_install.errors}}</td></tr>{%endif%}
					<tr><td>{{fs.is_full.label}} :</td><td>{{fs.is_full}}</td></tr>
					<tr><td>{{fs.data_loss.label}} :</td><td>{{fs.data_loss}}</td></tr>
					{% if display.iifile %}<tr {% if fs.datafile.errors %} class='formerror'{%endif%}><td>{{fs.datafile.label}} :</td><td>{{fs.datafile}}</td></tr>{% endif %}
					{% if fs.datafile.errors %}<tr><td></td><td>{{fs.datafile.errors}}</td></tr>{%endif%}
					<tr><td>{{fs.DELETE.label}} :</td><td>{{fs.DELETE}}</td></tr>
				</table>
				<input class="deleteContent cancel" type="button" value="Supprimer ce contenu" style='display: none; position:absolute; top:2px; right:2px;'>
			</div>
		{% endfor %}
	</div>
	
	<input type="button" value="Ajouter un contenu" id="add_content" style='display: none' class='metButton'>
	<input id='submit' type="submit" value="Enregistrer" class='metButton'/>
	<button class='metButton cancel' onclick="back();return false;">annuler</button>
</form>

<div id='emptyformset' style='display: none; '>
	<div class='metContainer metFreeRect metFormSection' style='position: relative;'>
		<label class='t3' for='main'>Nouveau contenu</label>
		{{ iisf.empty_form.id }}
		<table>
			<tr><td>{{iisf.empty_form.target.label}} :</td><td>{{iisf.empty_form.target}}</td></tr>
			<tr><td>{{iisf.empty_form.version.label}} :</td><td>{{iisf.empty_form.version}}</td></tr>
			<tr><td>{{iisf.empty_form.how_to_install.label}} :</td><td>{{iisf.empty_form.how_to_install}}<div class='howto_label helptext'></div></td></tr>
			<tr><td>{{iisf.empty_form.is_full.label}} :</td><td>{{iisf.empty_form.is_full}}</td></tr>
			<tr><td>{{iisf.empty_form.data_loss.label}} :</td><td>{{iisf.empty_form.data_loss}}</td></tr>
			{% if display.iifile %}<tr><td>{{iisf.empty_form.datafile.label}} :</td><td>{{iisf.empty_form.datafile}}</td></tr>{% endif %}
			<tr><td>{{iisf.empty_form.DELETE.label}} :</td><td>{{iisf.empty_form.DELETE}}</td></tr>
		</table>
		<input class="deleteContent cancel" type="button" value="Supprimer ce contenu" style='display: none; position:absolute; top:2px; right:2px;'>
	</div>
</div>

{% endblock content %}
