{% extends "base.html" %}
{% load staticfiles %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Bon de livraison (1/2){% endblock %}

{% block scripts %}
<script type="text/javascript" src='{% static "jquery-1.9.1.js" %}'></script>
<script type="text/javascript" src='{% static "delivery.js" %}'></script>
<script type="text/javascript">
	lc_im = {};
	{% for key, values in lc_im.items %}lc_im[{{key}}] = {{values}};{% endfor %}
</script>
{% endblock %}

{% block content %}
<form id='mainForm' method='POST'>

	<div id='main' class='metContainer metSection wideInputs' style='background:#423173;'>
		<label class='t2' for='main'>Informations de base</label>
		<table>
			{{ form.as_table }}
		</table>
	</div>
	
	{{ iisf.management_form }}
	<div id='iisf'>
		{% for fs in iisf %}
			<div class='metContainer metFreeRect' style='background:#423173;'>
				<label class='t3' for='main'>Contenu n°{{forloop.counter}} de la livraison</label>
				<input class="deleteContent" type="button" value="Supprimer ce contenu" style='display: none;margin-left: 150px;'>
				<table>
				{{ fs }}
				</table>
				
			</div>
		{% endfor %}
	</div>
	<br/>
	<input type="button" value="Ajouter un contenu" id="add_content" style='display: none' class='metButton'>
	<input type="submit" value="Enregistrer" class='metButton'/>
	<button class='metButton cancel' onclick="back();return false;">annuler</button>
</form>

<div id='emptyformset' style='display: none;'>
	<div class='metContainer metFreeRect'  style='background:#423173;'>
		<label class='t3' for='main'>Nouveau contenu pour cette livraison</label>
		<table>
			{{ iisf.empty_form }}
		</table>
		<input class="deleteContent" type="button" value="Supprimer ce contenu">
	</div>
</div>

{% endblock content %}
