{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Version des environnements{% endblock %}

{% block content %}
{% regroup envts by typology as type_list %}


{% for type in type_list %}
<div class='column'>
	<div class='t2'>{{ type.grouper.name }}</div>
	{% cycle '#004A00' '#61292B' '#180052' '#AD103C' '#004D60' '#1B58B8' '#DE4AAD' as moderncolors silent %}
	{% for envt in type.list %}	
		<a class='metSquare metContainer' style='border-color:{{ moderncolors }};' href="{% url 'scm:envtinstallhist' envt.name %}">{{ envt.name }}<div class='metSquareLong annotation'>Dernière installation le <br/>{{envt.latest_reconfiguration}}<br/>Nombre modifications : {{ envt.configuration_modification_count }}</div></a>
	{% endfor %}
</div>
{% endfor %}

{% endblock content %}
