{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Installations sur {{envt.name}} ces {{limit}} derniers jours{% endblock %}

{%block frequentActionsButtons%}
<a href="{% url 'scm:tag_create' envt.name envt.potential_tag %}" title="Créer un tag">T</a>
<a href="{% url 'scm:backup_envt' envt.name %}" title="Enregistrer manuellement un backup par défaut">B</a>
<a href="{% url 'scm:backup_envt_manual' envt.name %}" title="Enregistrer manuellement un backup de certains éléments">M</a>
{%endblock%}

{%block navigationButtons%}
<a href="{% url 'scm:envts' %}" title="Liste des environnements">↑</a>
{%endblock%}

{% block content %}

<table class='visibleTable'>
	<thead>
		<tr>
			<td></td>
			<td style='width: 7em;'>Date</td>
			{% for lc in logical_components %}
				<td>{{lc.name}}</td>
			{% endfor %}			
		</tr>
		
	</thead>
	
	<tbody>
	
		<tr style='background-color: #D6D6D6; font-style: italic;'>
			<td>Version actuelle</td>
			<td></td>
			{% for lc in logical_components %}
				{% for key, value in versions.items %}
					{% ifequal key.id lc.id %}
						<td>{{value}}</td>
					{% endifequal %}
				{% endfor %}
			{% endfor %}	
		</tr>
		{% for install in installs %}
			<tr>
				<td>
					<div class='metContainer' style='background:#D6D6D6;margin:0;' >
						<a href="{% url "scm:delivery_detail" install.installed_set.pk %}"> {{ install.installed_set.name }}</a>
					</div>
				</td>
				<td>
					<div>{{ install.install_date|date:"d/m H:i" }}</div>
				</td>
				{% for lc in logical_components %}
					<td style='height:100%;'>
					{% for ii in install.installed_set.set_content.all %}
						{% ifequal ii.what_is_installed.logical_component_id lc.id %}
							<div class='metContainer' style='background-color: #4D944D;'> {{ ii.what_is_installed.version }}</div>
						{% endifequal %}
					{% endfor %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
