{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Installations sur {{envt.name}} ces {{limit}} derniers jours{% endblock %}

{%block frequentActionsButtons%}
<a class='frequentAction' href="{% url 'scm:tag_create' envt.name envt.potential_tag %}" title="Créer un tag">T</a>
{%endblock%}

{% block content %}

<table class='visibleTable'>
	<thead>
		<tr>
			<td>Install</td>
			<td>Date</td>
			{% for lc in logical_components %}
				<td>{{lc.name}}</td>
			{% endfor %}			
		</tr>
		<tr style='background-color: #B01E00;'>
			<td>Version actuelle</td>
			<td></td>
			{% for lc in logical_components %}
				{% for key, value in versions.items %}
					{% ifequal key.id lc.id %}
						<td>{{value}}</td>
					{% endifequal %}
				{% endfor %}
			{% endfor %}	
		</tr>
	</thead>
	
	<tbody>
		{% for install in installs %}
			<tr>
				<td>
					<div class='metRectList' style='background:#004A00;margin:0;' >
						<a href="{% url "scm:delivery_detail" install.pk %}"> {{ install.installed_set.name }}</a>
					</div>
				</td>
				<td>
					<div>{{ install.install_date|date:"d/m H:i" }}</div>
				</td>
				{% for lc in logical_components %}
					<td style='height:100%;'>
					{% for ii in install.installed_set.set_content.all %}
						{% ifequal ii.what_is_installed.logical_component_id lc.id %}
							<div style='background-color: #004A00; height: 100%;width:100%;display:inline-block;'> {{ ii.what_is_installed.version }}</div>
						{% endifequal %}
					{% endfor %}
					</td>
				{% endfor %}
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endblock content %}
