{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Version des environnements{% endblock %}

{% block content %}
{% regroup envts|dictsort:"typology.chronological_order" by typology as type_list %}


{% for type in type_list %}
<div class='row'>
	<div class='t2 col-md-12'>{{ type.grouper.name }}</div>
	{% for envt in type.list %}	
		<div class='col-md-12 row metLineHeader'>
			<div class='col-md-2'></div>
			<div class='col-md-2'><a href='{% url 'scm:envtinstallhistprm' envt.name 31 %}'>{{envt.name}}</a></div>
			<div class='col-md-4'>Dernière installation le {{envt.latest_reconfiguration}}</div>
			<div class='col-md-2'>Nombre modifications : {{ envt.configuration_modification_count }}</div>
		</div>
	{% endfor %}
</div>
{% endfor %}

{% endblock content %}
