{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Progression des composants{% endblock %}

{% block content %}
<div class='table-responsive'>
<table class='table table-condensed table-bordered table-hover'>
	<thead>
		<tr>
			<th></th>
			<th></th>
			{% for envt in envts %}<th><a href="{% url 'scm:envtinstallhist' envt_name=envt.name project=project %}">{{envt.name}}</a></th>{% endfor %}
		</tr>
	</thead>


	{% for lc,envt_dic in res.items %}
	<tr>
		<td>{{lc.application.name}}</td>
		<td><a href="{% url 'scm:lc_versions' lc.id %}">{{lc.name | capfirst}}</a></td>
		{% for e, version_list in envt_dic.items %}
            <td>
	           {% for lcv in version_list %}
	               {{lcv.version}}
	           {% endfor %}
            </td>
		{% endfor %}
	
	</tr>
	
	{% endfor %}

</table>
</div>
{% endblock content %}
