{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Progression des composants{% endblock %}

{% block content %}
<table class='visibleTable'>
	<thead>
		<tr>
			<th></th>
			{% for envt in envts %}<th><a href="{% url 'scm:envtinstallhist' envt.name %}">{{envt.name}}</a></th>{% endfor %}
		</tr>
	</thead>


	{% for lc,version_list in res.items %}
	<tr>
		<td><a href="{% url 'scm:lc_versions' lc.id %}">{{lc.name}}</a></td>
		{% for v in version_list %}
			<td>{% if v %} {{v.version}} {% endif %}</td>
		{% endfor %}
	
	</tr>
	
	{% endfor %}

</table>
{% endblock content %}
