{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Versions disponibles des composants logiques{% endblock %}

{% block content %}
{% regroup lcs by application as applications_list %}

{% for application in applications_list %}
<div class='row'>
	<div class='col-md-1'>
		<div class='metRectFixedwidth metLineHeader'>{{ application.grouper.name }}</div>
	</div>
	<div class='col-md-11'>
		{% for lc in application.list %}
			<a class='metContainer metRectFixedwidth defaultHighlightBackground' href="{% url 'scm:lc_versions' lc.id %}">
				{{ lc.name|capfirst }}
			</a>
		{% endfor %}
	</div>
</div>
{% endfor %}



{% endblock content %}
