{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Tag {{tag.name}}{% endblock %}

{%block navigationButtons%}<a href="{% url 'scm:tag_list' %}" title="Liste des tags">↑</a>{%endblock%}

{% block content %}

<div class='metContainer metSection metDefaultBackground'>
	<table>
		<tr><td>Environnement source</td><td>{{tag.from_envt}}</td></tr>
		<tr><td>Pris le</td><td>{{tag.snapshot_date}}</td></tr>
	</table>
</div>

{% for v in tag.versions.all %}
<div class='metContainer metRectList metDefaultBackground'>
	[{{v.logical_component.name}}] en version [{{v.version}}]
</div>

{% endfor %}

{% endblock content %}
