{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Liste des tags{% endblock %}

{% block content %}

{% regroup tags by from_envt as envt_list %}


{% for envt in envt_list %}
<div class='row'>
	<div class='col-md-1'>
		<div class='metRectFixedwidth metLineHeader'>{{envt.grouper.name}}</div>
	</div>
	<div class='col-md-11'>
		{% for tag in envt.list %}
		<a class='metContainer metRectList defaultHighlightBackground' href="{% url 'scm:tag_detail' tag.id %}">
			{{tag.name}}
		</a>
		{% endfor %}
	</div>
</div>
{% endfor %}

{% endblock content %}
