{% extends "base.html" %}
{% block pagetitle %}Gestion de configuration{% endblock %}
{% block maintitle %}Liste des tags{% endblock %}

{% block content %}
{% regroup tags by from_envt as envt_list %}

{% for envt in envt_list %}
<div class="list-group" style="margin-top: 10px;">
  <a   style ="background-color:#4d4d4d ;color: white; " href="#" class="list-group-item disabled">
   {{envt.grouper.name}}
  </a>
  
  	{% for tag in envt.list %}
  <a href="{% url 'scm:tag_detail' tag.id %}" class="list-group-item">{{tag.name}}</a>
  {% endfor %}
</div>
<br>
{% endfor %}

{% endblock content %}
