{% extends "base.html" %}
{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Liste des tickets{% endblock %}
{% block other_css %}<link media="all" type="text/css" href="/mediamage/pres/forms.css" rel="stylesheet"/>{% endblock %}
{% block content %}
	<div class='t4'>Modèle de page : {{summary.name}}</div>
	
	<div class='bloc2'>
		<form method='POST'>
			{% for f in form_set %}
			{{f.label}}
			{{f}}
			{%endfor%}
			<input type="submit" value="Filtrer"/>
		</form>
	</div>
	
	{% for block in blocks %}
		{% ifequal block.type 2 %}
			<div class='bloc2'>
			<table>
				<thead>
					<tr>
						<th>ID</th>
						{% for f in block.fields.all %}
						<th>
							{{f.name}}
						</th>
						{% endfor %}
						<th>Créé le</th>
					</tr>
				</thead>
				<tbody>
					{% for ticket_object, selected_fields in block.ticket_data %}
					<tr>
						<td><a href="{% url MAGE.tkm.views.edit_ticket ticket_object.id %}"> {{ticket_object.id}}</td>						
						{% for tfv in selected_fields %}
						<td>{{tfv.leaf.value}}</td>
						{% endfor %}
						<td>{{ticket_object.creation_date|date:"D F Y H:i"}}</td>	
					</tr>
					{% endfor %}
				</tbody>
			</table>
			</div>
		{% endifequal %}
	{% endfor %} 
{%endblock content%}