{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<link rel="shortcut icon" href='{% static "fav.png" %}' />
		<link media="all" type="text/css" href="{% static "bootstrap.min.css" %}" rel="stylesheet"/>
		<link media="all" type="text/css" href="{% static "mage.css" %}" rel="stylesheet"/>
		<title>{%block pagetitle%}MAGE{%endblock pagetitle%}</title>
		{%block scripts%}{%endblock%}
		{%block other_css%}{%endblock%}
		
		<script type="text/javascript">function back() 
		{
			if (document.referrer !== null && document.referrer !== "")
			{
				if (document.referrer.indexOf("accounts/login") === -1)
				{
					history.back();return false;
				}
				else
				{
					history.go(-2);return false;
				}
			}
			else
			{
				window.location = '/';
				return false;
			}
		}</script>
	</head>
	<body>
		<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
			<div class='container-fluid'>
				<div class='navbar-header'>
                    <a class="navbar-brand" href="{% url 'welcome' %}">MAGE</a>
				</div>
                
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-left">
                        <li><p class="navbar-text caps pageTitle">{%block maintitle%}{%endblock%}</p></li>
                    </ul>               
                
                    <ul class="nav navbar-nav navbar-right" id='inout'>
                        {% if user.is_authenticated %}
                        <li>
                            <p class="navbar-text">{{ user.username }}</p>
                        </li>
                        {% endif %}
                        <li>
                            {% if user.is_authenticated %}<a href="{% url 'logout' %}">Se déconnecter</a>
                            {% else %}<a href="{% url 'login' %}">S'authentifier</a>{% endif %}
                        </li>
                        <li id='quickAccessButtons'>
                            <span id='quickAccessActionButtons'>{%block frequentActionsButtons%}{%endblock%}</span>
                            <span id='quickAccessNavigationButtons'>
                                {%block navigationButtons%}{%endblock%}
                            </span>
                        </li>
                    </ul>	
                </div>			
			</div>
		</div>
		{% if messages %}
		<div class='bloc1'>
		    {% for message in messages %}
		    <li>{{ message }}</li>
		    {% endfor %}
		</div>
		{% endif %}
		<div class='container-fluid'>{%block content%}{%endblock content%}</div>		
	</body>
</html>