{% extends "base.html" %}

{%block pagetitle%}Authentification{%endblock pagetitle%}

{%block sidebar%} {%endblock%}
{% block content %}

<div class='metRibbonSplash metContainer' style="margin: -10%  40% 0px 20% ; height: 50%; width: 60%  ;background-color:#500000   ;color:#C8C8C8; border-radius: 20px; " >
	<div class='metRibbonSplashContent' style="  margin-top: 5%; ">
		<div style='display: inline-block;'>
			<div class='t2'>Accès à une ressource protégée</div>		
			{% if user.is_authenticated %}
			    <div>
			    	Vous êtes authentifié en tant que "{{ user.username }}" mais ce compte n'a pas les droits nécessaires pour accéder à la ressource demandée.<br/>
			    	Veuillez utiliser un compte autorisé à réaliser l'opération, ou revenez à la page précédente.
			     </div> 
			{% else %}
				<div>La ressource ne peut être utilisée par un utilisateur anonyme - veuillez vous identifier.</div>
			{% endif %}
			<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
				<table>
					<tr>
						<td>Nom d'utilisateur</td>
						<td>{{ form.username }}</td>
					</tr>
					<tr>
						<td>{{ form.password.label_tag | safe }}</td>
						<td>{{ form.password }}</td>
					</tr>
				</table>
				<br><br>
				<div class='left'>
					<input type="submit"    value="login"   />
					<button class='cancel ' onclick="back();return false;">cancel</button>
					<input type="hidden" name="next" value="{{ next }}" />
				</div>
				
				{% if form.errors %}
					<span class='errorlist'>Your username and password didn't match. Please try again.</span>
				{% endif %}
			</form>
		</div>
	</div>
</div>

{% endblock %}
