{% extends "base.html" %}
{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Marsupilamographe{% endblock %}

{% block content %}

<div class='metContainer' style='width: auto;'>

	<span style="width: 180px; min-width: 180px; display: table-cell; vertical-align: top;">
		<form class='bulletLessList' action="{% url 'gph:main' %}" method="POST">
			{{ form.as_p }}
			<input type="submit" value="Mettre à jour">
		</form>
	</span>
	
	<span style="display: table-cell;">
		{% if resultlink %}
			<img src="{{ resultlink }}" title="Image résultat">
		{% else %}
			<img src="{% url 'gph:full' %}" title="Carte de tous les environnements">
		{% endif %}
	</span>
</div>
{% endblock content %}
