@CHARSET "UTF-8";

/* "Solucom-style" CSS */



/******************************************************************
** 	General stuff
******************************************************************/

BODY
{
	font-family: arial;
}

a:visited {
    /*text-decoration: underline;*/
    color: #0000FF;
}

.errorlist 
{
	/*border: solid 3px red;*/
	color: red;
	font-style: italic;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
}



/******************************************************************
** 	Specific block styles
******************************************************************/

div#footer
{
	border-top: solid 3px; 
	text-align: right;
	margin-top: 20px;
}

div#content
{
	/*font-style: italic;*/
}

#title
{
	background-color: rgb(100,100,200);
}



/******************************************************************
** 	Grids and tables
******************************************************************/

table
{
	border-collapse: collapse;
}


td, th 
{
	border: 1px dotted rgb(100,100,100);
	text-align: left;
}

.table_title_cell
{
	text-align: center;	
}


.groupe_table_1
{
	background-color: rgb(188,210,238);
	padding-top: 5px;
	padding-left: 10px;
	margin: 10px;
}

.groupe_table_2
{
	background-color: rgb(112,219,219);
}



/******************************************************************
** 	Lists
******************************************************************/

.liste1
{
	list-style-position: inside;
	list-style-image: url('./puce-liste.gif');
	margin: 0px;
	font-size: 10pt;
}	



/******************************************************************
** 	Titles & text
******************************************************************/

/*Main page titles*/
.t1 
{
  font: 26pt normal;
  color: white;
  text-align: left;
  font-family: arial;
  
  display: block;
  background-color:white;
  background-image: url('./BarreSolucom.jpg');
  background-repeat:repeat-y;

  padding-top: 13px;
  padding-left: 3px;
  padding-bottom: 3px;
  margin-bottom: 20px;

}

/* Main blocks titles (e.g. : envt div)*/
.t2 
{
  font-size: 17pt;
  font-style: italic;
  margin-left: 4px;
  margin-bottom: 1px;
  display: block;
}

/* Block title (e.g. : component div)*/
.t3 
{
  font-size: 12pt;
  padding-bottom: 2px;
  padding-left: 1px;
  margin-bottom: 4px;
  border-bottom: dotted 1px rgb(180,180,255);
}

/* general text n°4 */
.t4 
{
  font-style: normal;
  font-size: 10pt;
}



/******************************************************************
** 	Blocks
******************************************************************/

.bloc1 
{
  background-color: rgb(238,238,238);
  border: 2px rgb(150,150,150);
  margin-bottom: 10px;
  padding-bottom: 1px;
}

.bloc2 
{
  background-color: rgb(230,230,230);
  border: 1px solid rgb(180,180,255);
  margin: 5px;
  margin-bottom: 7px;
  padding: 3px;
}

.bloc3 
{
  background-color: rgb(240,240,240);
  border: 2px rgb(150,150,150);
  margin: 5px;
}

.options_envt
{
	margin: 5px;
	padding: 3px;	
}	
.clickabletext
{
  text-decoration: underline; 
}

.GRAPH_ENVT
{
	margin: 8px;
	border: double black 1px;
}

.inline_link_button
{
	font-weight: bold;
	padding: 2px;
	margin: 5px;
	text-decoration: none;
	border: solid 1px;
}