{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<!-- <link media="all" type="text/css" href="{{ STATIC_URL }}mage.css" rel="stylesheet"/> -->
		<link media="all" type="text/css" href="{% static "mage.css" %}" rel="stylesheet"/>
		<title>{%block pagetitle%}titre générique{%endblock pagetitle%}</title>
		{%block scripts%}{%endblock%}
		{%block other_css%}{%endblock%}
	</head>
	<body>
		<div id='beforeFooter'>
			<div id='upperBar'>
				<div class='pageTitle'>{%block maintitle%}{%endblock%}</div>
				<div id='frequentActionsButtons'>
					{%block frequentActionsButtons%}{%endblock%}
					<a class='frequentAction' href="{% url 'welcome' %}">H</a>
				</div>
			</div>
			{% if messages %}
			<div class='bloc1'>
			    {% for message in messages %}
			    <li>{{ message }}</li>
			    {% endfor %}
			</div>
			{% endif %}
			<div id='content'>{%block content%}{%endblock content%}</div>
			<div id='pusher'></div>
		</div>
		<div id='footer'>
			{%block footer%}
			MAGE 5.0.0 - {%now "d/m/Y H:i"%} -
			{% if user.is_authenticated %}
			    {{ user.username }} 
			{% else %}
			    Utilisateur anonyme
			{% endif %}
			{%endblock footer%}
		</div>
	</body>
</html>