{% extends "base.html" %}
{% block pagetitle %}GE{% endblock %}
{% block maintitle %}Identification{% endblock %}
{% block content %}
	{% if next %}<div class='bloc4'>Vous cherchez à accéder à : {{next}}</div>{% endif %}
	
	{% if form.errors %}
		<div class='bloc1'>Echec de l'identification</div>
	{% endif %}
	<form method='post' action='.'>
		<div class='bloc2'>
			{{ form.as_p }}
		</div>
		
		<input type="hidden" name="next" value="{{ next }}" />
		
		<input type="submit" value="Login">
	</form>
{%endblock content%}