{% extends "base.html" %}
{%block pagetitle%}Rapport DBA{%endblock%}
{%block maintitle%}Rapport DBA{%endblock%}
{%block content%}
	{% for inst in instance_set %}
		<div class='bloc2'>
			<div class='t3'>{{inst.instance_name}}</div>
			{% for component in inst.subscribers.all %}
				<div class='t4'> {{component}}</div>
			{% endfor %}
		</div>
	{% endfor %}
	{%if us %}
		<div class='bloc2'>
			<div class='t3'>Non classifié</div>
			{% for schema in us %}
				<div class='t4'> {{schema}}</div>
			{% endfor %}
		</div>
	{% endif %}
{%endblock%}
