{% extends "base.html" %}
{% load pda_tags %}

{%block pagetitle%}GE{%endblock%}
{%block maintitle%}Portail Gestion des Environnements{%endblock%}

{%block content%}
	{%for envt in envts%}
		<div class='bloc1' id='ENVT_{{envt.pk}}'>
			<span class='t2'>{{envt.name}} ({{envt.description}})</span>
			{% for comp in envt.composant_set.all %}
				{% more comp %}
				{% if template_to_render %}
					<div class='bloc2' id='COMP_{{comp.pk}}'>
						<div class='t3'>{{comp.name}}  ({{comp.type}})</div>
						{% include template_to_render %}
						<div>
							{%for socle in comp.dependsOn.all%}
								<span class='t4'>Fonctionne sur : {{socle}}</span>
							{%endfor%}
						</div>
						<span class="t4">Version : {{comp.version}}</span>
					</div>
				{%endif%}
			{% endfor %}
		</div>
	{%endfor%}
{%endblock content%}